groups:
  - name: AppStatus
    interval: 1m
    rules:
      - alert: ApplicationDown
        expr: up{job="application"} == 0
        for: 1m
        labels:
          severity: critical
          send_to: telegram
        annotations:
          summary: "{% raw %}Сервис {{ $labels.instance }} недоступен{% endraw %}"
          description: "Приложение перестало отдавать метрики. Проверьте статус контейнера."

      - alert: HighCpuUsage
        expr: 100 - (avg by (instance) (irate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 80
        for: 5m
        labels:
          severity: warning
          send_to: telegram
        annotations:
          summary: "{% raw %}Высокая нагрузка на CPU: {{ $value | printf \"%.2f\" }}%{% endraw %}"
