# --- HTTP redirect ---
server {
    listen 80;
    server_name grafana.dobro10k2.ru prometheus.dobro10k2.ru;

    return 301 https://$host$request_uri;
}

# --- Grafana ---
server {

    listen 443 ssl http2;
    server_name grafana.dobro10k2.ru;

    ssl_certificate /etc/letsencrypt/live/grafana.dobro10k2.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/grafana.dobro10k2.ru/privkey.pem;

    location / {
        proxy_pass http://127.0.0.1:3000/;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Host $host;
    }
}

# --- Prometheus ---
server {

    listen 443 ssl http2;
    server_name prometheus.dobro10k2.ru;

    ssl_certificate /etc/letsencrypt/live/prometheus.dobro10k2.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/prometheus.dobro10k2.ru/privkey.pem;

    location / {
        proxy_pass http://127.0.0.1:9090/;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Host $host;
    }
}
