[Unit]
Description=Promtail
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/promtail-linux-amd64 \
  -config.file={{ promtail_config_dir }}/config.yml

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
