log_format json escape=json
'{'
'"time":"$time_iso8601",'
'"remote_addr":"$remote_addr",'
'"method":"$request_method",'
'"uri":"$request_uri",'
'"status":$status,'
'"body_bytes":$body_bytes_sent,'
'"referer":"$http_referer",'
'"agent":"$http_user_agent"'
'}';

access_log /var/log/nginx/access.log json;
error_log /var/log/nginx/error.log;

server {
    listen 80;
    server_name board.dobro10k2.ru;

    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}


server {

    listen 443 ssl http2;
    server_name board.dobro10k2.ru;

    ssl_certificate /etc/letsencrypt/live/board.dobro10k2.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/board.dobro10k2.ru/privkey.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;

    client_max_body_size 20m;

    location / {

        proxy_pass http://127.0.0.1:8080/;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    }

    location /api/ {
        proxy_pass http://127.0.0.1:8080;
    }

    location /swagger-ui/ {
        proxy_pass http://127.0.0.1:8080;
    }

    location /static/ {
        proxy_pass http://127.0.0.1:8080;
        expires 7d;
    }

    location /storage/ {

        proxy_pass http://127.0.0.1:9000/;

        proxy_set_header Host $host;

    }

    location /actuator/ {

    proxy_pass http://127.0.0.1:9090;

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;

    } 

}
