apiVersion: 1

contactPoints:
  - orgId: 1
    name: telegram-alerts
    receivers:
      - uid: telegram
        type: telegram
        settings:
          bottoken: "{{ telegram_bot_token }}"
          chatid: "{{ telegram_chat_id | string }}"
        disableResolveMessage: false
